body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.container {
    width: 1080px;
    margin: auto;
}

header img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    background-color: #9E3600;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li > a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: ivory;
}

nav ul li > a:hover {
    background-color: #E59C29;
    color: #000000;
}