body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.container {
  width: 1080px;
  margin: auto;
}

header img {
  width: 100%;
}

nav ul {
  list-style-type: none;
  background-color: #9e3600;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li > a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: ivory;
}

nav ul li > a:hover {
  background-color: #e59c29;
  color: #000000;
}

.container footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #9e3600;
  color: #ffffffff;
}

.addKategori {
  display: inline-block;
  margin: 10px 0 10px 0;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.editButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.deleteButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.tableTampil {
  margin-bottom: 50px;
}

form {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0px 0px 20px #dddddd;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #cccccc;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}

.error {
  color: #ff0000;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: sans-serif;
}
tr,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
